<%= render "zebra/navbar" %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span8 offset2">
      <%= link_to "< Back to dashboard", zebra_dashboard_path %>
      <h1>Add Attendee</h1>

      <!--Basic Details-->
      <%= form_tag zebra_ticket_index_path, method: :post, class: 'form-horizontal' do %>

        <legend>Basic Details</legend>
        <div class="control-group">
          <%= label_tag 'first_name', nil, class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag 'first_name' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag 'last_name', nil, class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag 'last_name' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag 'email', nil, class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag 'email' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag 'twitter', nil, class: 'control-label' %>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">@</span>
              <%= text_field_tag 'twitter' %>
            </div>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag 'notes', nil, class: 'control-label' %>
          <div class="controls">
            <%= text_area_tag 'notes' %>
          </div>
        </div>
        <div class="control-group">
          <%= label_tag 'kind', 'Ticket Type', class: 'control-label' %>
          <div class="controls">
            <%= select_tag 'kind', options_from_collection_for_select(@ticket.kinds, :first, :last, @ticket.kind) %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn">Add Attendee</button>
          </div>
        </div>
      <% end %>

    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p>&copy; Geeks of London 2013</p>
  </footer>

</div><!--/.fluid-container-->
