<meta http-equiv="refresh" content="5;url=/selfserve">
<div class="container selfserve">
  
    <section id="decision" class="jumbotron">
      <%= bootstrap_flash %>

      <h1><%= @ticket.attendee.first_name %> <%= @ticket.attendee.last_name %></h1>

      <br><br>

      <% if @onsite %>
        <h3>You are now checked in!</h3>
      <% else %>
        <h3>You are now checked out!</h3>
      <% end %>

      <br>


      <% if @onsite %>
          <a class="btn btn-large btn-primary" href="/selfserve/<%= @ticket.id %>">I meant to Check-Out!</a>
      <% else %>
          <a class="btn btn-large btn-primary" href="/selfserve/<%= @ticket.id %>">I meant to Check-In!</a>
          <br><br>
          <h4>If your not planning to come back, please place your badge in the box</h4>
      <% end %>

      <br><br>

      <h3><a href="/selfserve">Next attendee press here</a></h3>

    </section>
  
</div>